<style>
      body {
        font-family: serif;
      }
      
      h1 {
        font-family: serif;
        color: green;
      }
      
      p {
        font-family: sans-serif;
        color: red;
        background: light blue;
      }
      
      div {
        font-family: sans-serif;
        color: red;
        background: yellow;
        width: 75%;
        a:hover a:active a:focus {
        background: rgb(255,214,255);
            }
      }
</style>
