<style>
      body {
        font-family: serif;
      }
      
      h1 {
        font-family: serif;
        color: green;
      }
      
      p {
        font-family: sans-serif;
        color: red;
        background: light blue;
      }
      
      div {
        font-family: sans-serif;
        color: red;
        background: yellow;
        width: 75%;
        a:hover a:active a:focus {
        background: rgb(255,214,255);
            };
      }

      img[src="drawing.png"]{
            border: 5px solid brown;
            align: center;
}

      #logo {
            animation-name: logo-animation;
            animation-duration: 10s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 2;
            animation-direction: alternate;
}
      @keyframes logo-animation {
            from {transform: rotate (0deg);}
            to {transform: rotate (360deg);}
}
            
            
</style>
